//**************** FOOTER
.footer {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  bottom: 5vh;
  font-size: 2rem;
  color: rgba(#fefefe, .85);
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  //flex-direction: column;

  & > span {
    color: rgba(#fefefe, .85);
  }
}