@media (min-width:0px) {
  //Base
  :root {
    font-size: 6px;
  }

  .container-content {
    width: 280px;
    height: 340px;
    //transform: scale(.9);
  }

  #btn-start {
    width: 160px;
    height: 50px;
  }

  //Home
  .header-home {
    padding-top: 0;

    &:before {
      bottom: -6px;
      height: 2px;
    }

    h1 {
      font-size: 2.5rem;
      padding: 22px 0 12px;
    }

    p {
      padding: 0 10px 5px;
      font-size: 1.8rem;
    }
  }

  //Nav & BtnsHome
  .nav {
    padding-top: 10px;
  }

  button#submenu-me,
  button#submenu-skills,
  button#submenu-projects,
  button#submenu-contact {
    width: 150px;
    height: 25px;
  }

  //Displaying Section
  #btn-back {
    top: 3px;

    .fa-reply {
      font-size: 4rem;
    }
  }

  #select-me,
  #select-skills,
  #select-projects,
  #select-contact {

    & > header {
      font-size: 2.8rem;
    }

    p {
      //
    }
  }

  //Section1 - AboutMe
  .my-picture {
    width: 55px;
    height: 50px;
    margin-top: 5px;
  }

  .div-about-me {
    width: 100%;
    height: 70%;

    & > p {
      font-size: 1.75rem;
      font-weight: bold;
    }
  }

  //Section2 - Skills
  .div-skills > div:before{
    font-size: 2.4rem;
  }

  //Section3 - Projects
  #proj1, #proj2, #proj3 {
    top: 10px;

    &:before {
      font-size: 14px;
      width: 60px;
      height: 25px;
      line-height: 22px;
      right: -40px;
      top: 25px;
    }
    &:nth-child(2):before {
      top: 95px;
    }
    &:nth-child(3):before {
      top: 165px;
    }

    & > header {
      padding-top: 5px;
    }
  }

  .project-img {
    width: 85%;

    .project-text {
      height: 66%;

      & > p {
        font-size: 1.8rem;
        margin: 0 10px !important;
      }
    }

    .demo, .code {
      height: 12%;
      width: 70%;
      margin-bottom: 5px;
      font-size: 2rem;
    }
  }

  //Section4 - Contact
  .div-contact {

    & > form {
      padding-top: 5px;

      input[type='text'],
      input[type='email'] {
        height: 28px;
        align-self: flex-start;
        flex-direction: row;
        justify-self: flex-start;
      }

      & label {
        display: none;
      }

      & textarea {
        height: 80px;
        margin: 5px 0 10px;
      }

      & > input[type='submit'] {
        margin: 0;
        height: 36px;
        width: 120px;
        font-size: 2.8rem;
      }
    }
  }

  .links {
    height: 30%;
    width: 90%;

    & > div > a p {
      margin: 0 10px !important;
    }
  }

  //Footer
  .footer {
    flex-direction: column;
  }
}

// ******************************************************

@media (min-width:600px) {
  //Base
  :root {
    font-size: 7px;
  }

  .container-content {
    width: 520px;
    height: 460px;
    //transform: scale(.9);
  }

  #btn-start {
    width: 200px;
    height: 56px;
  }

  //Home
  .header-home {
    padding-top: 20px;

    &:before {
      bottom: -6px;
      height: 2px;
    }

    h1 {
      font-size: 3.5rem;
      padding: 22px 0 20px;
    }

    p {
      padding: 0 20px 10px;
      font-size: 2.2rem;
    }
  }

  //Nav & BtnsHome
  .nav {
    padding-top: 20px;
  }

  .nav > ul > li {
    margin: 7px 0;
  }

  button#submenu-me,
  button#submenu-skills,
  button#submenu-projects,
  button#submenu-contact {
    width: 180px;
    height: 32px;
  }

  //Displaying Section
  #btn-back {
    top: 10px;

    .fa-reply {
      font-size: 4.2rem;
    }
  }

  #select-me,
  #select-skills,
  #select-projects,
  #select-contact {

    & > header {
      font-size: 2.8rem;
    }
  }

  //Section1 - AboutMe
  .my-picture {
    width: 80px;
    height: 80px;
  }

  .div-about-me {
    width: 100%;
    height: 64%;

    & > p {
      font-size: 2rem;
      font-weight: bold;
      padding: 0 25px;
    }
  }

  //Section2 - Skills
  .div-skills > div:before{
    font-size: 3.4rem;
  }

  //Section3 - Projects
  #proj1, #proj2, #proj3 {
    top: 10px;

    &:before {
      font-size: 18px;
      width: 80px;
      height: 35px;
      line-height: 31px;
      right: -55px;
      top: 30px;
    }
    &:nth-child(2):before {
      top: 125px;
    }
    &:nth-child(3):before {
      top: 220px;
    }

    & > header {
      padding-top: 8px;
    }
  }

  .project-img {
    width: 85%;

    .project-text {
      height: 66%;

      & > p {
        font-size: 2.2rem;
        margin: 0 15px !important;
      }
    }

    .demo, .code {
      height: 12%;
      width: 60%;
      margin-bottom: 5px;
      font-size: 2rem;
    }
  }

  //Section4 - Contact
  .div-contact {

    & > form {
      padding-top: 5px;

      input[type='text'],
      input[type='email'] {
        height: 34px;
        align-self: flex-start;
        flex-direction: row;
        justify-self: flex-start;
      }

      & label {
        display: none;
      }

      & textarea {
        height: 110px;
        margin: 5px 0 15px;
      }

      & > input[type='submit'] {
        margin: 0 100px;
        height: 36px;
        width: 120px;
        font-size: 2.8rem;
      }
    }
  }

  .links {
    height: 30%;
    width: 90%;

    & > div > a p {
      margin: 0 10px !important;
    }
  }

  //Footer
  .footer {
    flex-direction: row;
  }
}

// ******************************************************

@media (min-width:768px) {
  //Base
  :root {
    font-size: 9px;
  }

  .container-content {
    width: 740px;
    height: 600px;
    //transform: scale(.9);
  }

  #btn-start {
    width: 240px;
    height: 64px;
  }

  //Home
  .header-home {
    padding-top: 25px;

    &:before {
      bottom: -6px;
      height: 3px;
    }

    h1 {
      font-size: 3.5rem;
      padding: 22px 0 25px;
    }

    p {
      padding: 0 35px 10px;
      font-size: 2.2rem;
    }
  }

  //Nav & BtnsHome
  .nav {
    padding-top: 30px;
  }

  .nav > ul > li {
    margin: 10px 0;
  }

  button#submenu-me,
  button#submenu-skills,
  button#submenu-projects,
  button#submenu-contact {
    width: 230px;
    height: 40px;
  }

  //Displaying Section
  #btn-back {
    top: 13px;

    .fa-reply {
      font-size: 4.5rem;
    }
  }

  #select-me,
  #select-skills,
  #select-projects,
  #select-contact {

    & > header {
      font-size: 3rem;
    }
  }

  //Section1 - AboutMe
  .my-picture {
    width: 140px;
    height: 140px;
    margin-top: 15px;
  }

  .div-about-me {
    width: 100%;
    height: 64%;

    & > p {
      font-size: 2.2rem;
      font-weight: bold;
      padding: 0 30px 5px;
    }
  }

  //Section2 - Skills
  .div-skills > div:before{
    font-size: 4rem;
  }

  //Section3 - Projects
  #proj1, #proj2, #proj3 {
    top: 15px;

    &:before {
      font-size: 22px;
      width: 100px;
      height: 45px;
      line-height: 40px;
      right: -65px;
      top: 40px;
    }
    &:nth-child(2):before {
      top: 165px;
    }
    &:nth-child(3):before {
      top: 290px;
    }

    & > header {
      padding-top: 12px;
    }
  }

  .project-img {
    width: 80%;

    .project-text {
      height: 66%;

      & > p {
        font-size: 2.5rem;
        margin: 0 20px !important;
      }
    }

    .demo, .code {
      height: 12%;
      width: 60%;
      margin-bottom: 5px;
      font-size: 2rem;
    }
  }

  //Section4 - Contact
  .div-contact {

    & > form {
      padding-top: 20px;

      input[type='text'],
      input[type='email'] {
        height: 40px;
        align-self: flex-start;
        flex-direction: row;
        justify-self: flex-start;
      }

      & label {
        display: block;
      }

      & textarea {
        height: 130px;
        margin: 5px 0 15px;
      }

      & > input[type='submit'] {
        margin: 0 100px;
        height: 50px;
        width: 140px;
        font-size: 2.8rem;
      }
    }
  }

  .links {
    height: 30%;
    width: 90%;

    & > div > a p {
      margin: 0 10px !important;
    }
  }

  //Footer
  .footer {
    flex-direction: row;
  }
}

// ******************************************************

@media (min-width:1280px) {
  //Base
  :root {
    font-size: 10px;
  }

  .container-content {
    width: 900px;
    height: 700px;
    //transform: scale(.9);
  }

  #btn-start {
    width: 260px;
    height: 80px;
  }

  //Home
  .header-home {
    padding-top: 35px;

    &:before {
      bottom: -6px;
      height: 3px;
    }

    h1 {
      font-size: 4rem;
      padding: 25px 0 30px;
    }

    p {
      padding: 0 50px 12px;
      font-size: 2.2rem;
    }
  }

  //Nav & BtnsHome
  .nav {
    padding-top: 35px;
  }

  .nav > ul > li {
    margin: 12px 0;
  }

  button#submenu-me,
  button#submenu-skills,
  button#submenu-projects,
  button#submenu-contact {
    width: 250px;
    height: 46px;
  }

  //Displaying Section
  #btn-back {
    top: 13px;

    .fa-reply {
      font-size: 4.5rem;
    }
  }

  #select-me,
  #select-skills,
  #select-projects,
  #select-contact {

    & > header {
      font-size: 3.5rem;
    }
  }

  //Section1 - AboutMe
  .my-picture {
    width: 150px;
    height: 150px;
    margin-top: 15px;
  }

  .div-about-me {
    width: 100%;
    height: 64%;

    & > p {
      font-size: 2.5rem;
      font-weight: normal;
      padding: 0 40px 10px;
    }
  }

  //Section2 - Skills
  .div-skills > div:before{
    font-size: 4rem;
  }

  //Section3 - Projects
  #proj1, #proj2, #proj3 {
    top: 20px;

    &:before {
      font-size: 24px;
      width: 120px;
      height: 55px;
      line-height: 44px;
      right: -75px;
      top: 50px;
    }
    &:nth-child(2):before {
      top: 190px;
    }
    &:nth-child(3):before {
      top: 330px;
    }

    & > header {
      padding-top: 12px;
    }
  }

  .project-img {
    width: 80%;

    .project-text {
      height: 66%;

      & > p {
        font-size: 2.5rem;
        margin: 0 20px !important;
      }
    }

    .demo, .code {
      height: 12%;
      width: 60%;
      margin-bottom: 5px;
      font-size: 2rem;
    }
  }

  //Section4 - Contact
  .div-contact {

    & > form {
      padding-top: 25px;

      input[type='text'],
      input[type='email'] {
        height: 45px;
        font-size: 20px;
        padding: 5px 15px;
        align-self: flex-start;
        flex-direction: row;
        justify-self: flex-start;
      }

      & label {
        display: block;
        top: 15px !important;
      }

      & textarea {
        height: 130px;
        margin: 5px 0 25px;
        padding: 5px 15px;
        font-size: 20px;
      }

      & > input[type='submit'] {
        margin: 0 100px;
        height: 60px;
        width: 160px;
        font-size: 3rem;
      }
    }
  }

  .links {
    height: 30%;
    width: 90%;

    & > div > a p {
      margin: 0 10px !important;
    }
  }

  //Footer
  .footer {
    flex-direction: row;
  }
}

