$bgImg: url("img/bg2.jpg");
$timeAnime: 1.5s;

$colors: (
  c1: tomato,
  c2: orange,
  c3: greenyellow,
  c4: cadetblue,
);

@keyframes cloud {
  from { background-position: 11% 1%; }
  to { background-position: 100% 1%; }
}
@keyframes visibilityCube {
  from { opacity: 0; }
  50% { opacity: 1; }
  to { opacity: 1; }
}
@keyframes visibilityContent {
  from { opacity: 0; }
  49% { opacity: 0; }
  50% { opacity: 1; }
  to { opacity: 1; }
}

@keyframes textColor {
  0% { color: #7e0fff; border: 2px solid #7e0fff; }
  50% { color: #0181a1; border: 2px solid #0181a1; }
  100% { color: #7e0fff; border: 2px solid #7e0fff; }
}

@keyframes showContent1 {
  to { transform: rotateX(80deg) rotate(30deg) translateY(-50%); }
}
@keyframes showContent2 {
  to { transform: rotateY(80deg) rotate(30deg) translateX(-50%); }
}
@keyframes showContent3 {
  to { transform: rotateY(-80deg) rotate(30deg) translateX(50%); }
}
@keyframes showContent4 {
  to { transform: rotateX(-80deg) rotate(30deg) translateY(50%); }
}

.animationCube {
  animation: visibilityCube $timeAnime ease-out forwards;
}
.animationContent {
  animation: visibilityContent $timeAnime ease-out forwards;
}

.left-top-move {
  animation: showContent1 $timeAnime/2 $timeAnime/2 ease-out forwards;
}
.left-bottom-move {
  animation: showContent2 $timeAnime/2 $timeAnime/2 ease-out forwards;
}
.right-top-move {
  animation: showContent3 $timeAnime/2 $timeAnime/2 ease-out forwards;
}
.right-bottom-move {
  animation: showContent4 $timeAnime/2 $timeAnime/2 ease-out forwards;
}

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: $bgImg;
  background-size: 2200px;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px);
}

.cloud {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("img/cloud.png");
  background-repeat: no-repeat;
  background-size: 8000px;
  filter: blur(5px);
  animation: cloud 60s linear infinite;
  z-index: 1;
  opacity: .2;
}

.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  p {
    font-size: 22px;
  }
}

#btn-start {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(black, .2);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  z-index: 4;
  outline: none;
  cursor: pointer;
  //border: 5px solid #262626;
  //color: #262626;
  transition: .5s;
  box-shadow: 0 0 40px black, 0 0 5px black;
  animation: textColor 5s linear infinite;

  &:hover, &:focus {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.container-content {
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: $bgImg;
  background-size: 2200px;
  background-repeat: no-repeat;
  background-position: center;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 30px black, 0 0 20px black;
    opacity: .75;
  }
}

.content {
  width: 100%;
  height: 100%;
  background-color: rgba(#fff, .9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  z-index: 2;
}

.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  letter-spacing: 2px;
  position: relative;

  h1 {
    text-align: center;
  }

  p {
    font-size: 2rem;
    padding: 25px 25px;
    text-align: center;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 12%;
    border-radius: 50%;
    width: 80%;
    height: 5px;
    background-color: #262626;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  & > ul {

    & > li {
      margin: 10px;
      list-style: none;

      &:nth-child(2) > button {
        background-color: map_get($colors, c2);
      }
      &:nth-child(3) > button {
        background-color: map_get($colors, c3);
      }
      &:nth-child(4) > button {
        background-color: map_get($colors, c4);
      }

      & > button {
        font-size: 2.2rem;
        letter-spacing: 3px;
        font-weight: bold;
        width: 300px;
        height: 50px;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: map_get($colors, c1);
      }
    }
  }
}


.container-content > div {
  span {
    width: 100%;
    height: 100%;
    display: block;
    background-color: map_get($colors, c1);
    opacity: 0;
  }

  &:nth-child(3) > span {
    background-color: map_get($colors, c2);
  }
  &:nth-child(4) > span {
    background-color: map_get($colors, c3);
  }
  &:nth-child(5) > span {
    background-color: map_get($colors, c4);
  }
}

@mixin cubes4() {
  position: absolute;
  width: 50%;
  height: 50%;
  overflow: hidden;
  transition: $timeAnime;
  z-index: 3;
}

.left-top {
  @include cubes4();
  top: 0;
  left: 0;
  transform-origin: top;
}
.left-bottom {
  @include cubes4();
  bottom: 0;
  left: 0;
  transform-origin: left;
}
.right-top {
  @include cubes4();
  top: 0;
  right: 0;
  transform-origin: right;
}
.right-bottom {
  @include cubes4();
  bottom: 0;
  right: 0;
  transform-origin: bottom;
}