//  https://github.com/vuejs-templates/webpack/issues/1313
$fa-font-path : "~@fortawesome/fontawesome-free-webfonts/webfonts";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";

$bgImg: url("img/bg5.jpg");
$timeAnime: 2s;

$colors: (
  c1: tomato,
  c2: #F6B352,
  c3: #AAC06E,
  //c4: #5F9EAF,
  c4: #4da6ff,
);

@keyframes cloud {
  from { background-position: 11% 1%; }
  to { background-position: 100% 1%; }
}
@keyframes visibility {
  from { opacity: 0; }
  50% { opacity: 1; }
  to { opacity: 1; }
}
@keyframes visibilityContent {
  from { opacity: 0; }
  49% { opacity: 0; }
  50% { opacity: 1; }
  to { opacity: 1; }
}

@keyframes textColor {
  0% { color: #7e0fff; border: 2px solid #7e0fff; }
  50% { color: #0181a1; border: 2px solid #0181a1; }
  100% { color: #7e0fff; border: 2px solid #7e0fff; }
}
@keyframes bgColor {
  0% { background: #7e0fff; }
  50% { background: #0181a1; }
  100% { background: #7e0fff; }
}

// **************** Basic

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #262626;
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: $bgImg;
  background-size: 2200px;
  background-repeat: no-repeat;
  background-position: center;
  //filter: blur(5px);
  filter: blur(0);
  transition: all $timeAnime;
}
.cloud {
  position: absolute;
  z-index: 1;
  opacity: .3;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("img/cloud.png");
  background-repeat: no-repeat;
  background-size: 8000px;
  filter: blur(5px);
  animation: cloud 60s linear infinite;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  p {
    font-size: 22px;
  }
}

// **************** 4 cubes

.visibility {
  animation: visibility $timeAnime ease-out forwards;
}
.visibilityContent {
  animation: visibilityContent $timeAnime ease-out forwards;
}

//---
.left-top-move {
  transform: rotateX(80deg) rotate(30deg) translateY(-50%);
}
.left-bottom-move {
  transform: rotateY(80deg) rotate(30deg) translateX(-50%);
}
.right-top-move {
  transform: rotateY(-80deg) rotate(30deg) translateX(50%);
}
.right-bottom-move {
  transform: rotateX(-80deg) rotate(30deg) translateY(50%);
}

@mixin cubes4() {
  position: absolute;
  z-index: 4;
  width: 50%;
  height: 50%;
  overflow: hidden;
  transition: $timeAnime/2;
}
.left-top {
  @include cubes4();
  top: 0;
  left: 0;
  transform-origin: top;
}
.left-bottom {
  @include cubes4();
  bottom: 0;
  left: 0;
  transform-origin: left;
}
.right-top {
  @include cubes4();
  top: 0;
  right: 0;
  transform-origin: right;
}
.right-bottom {
  @include cubes4();
  bottom: 0;
  right: 0;
  transform-origin: bottom;
}

.container-content > div {
  span {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(135deg , map_get($colors, c1) , lighten(map_get($colors, c1), 15%));
    opacity: 0;
  }
  &:nth-child(4) > span {
    background: linear-gradient(45deg , map_get($colors, c2) , lighten(map_get($colors, c2), 15%));
  }
  &:nth-child(5) > span {
    background: linear-gradient(-135deg , map_get($colors, c3) , lighten(map_get($colors, c3), 15%));
  }
  &:nth-child(6) > span {
    background: linear-gradient(-45deg , map_get($colors, c4) , lighten(map_get($colors, c4), 15%));
  }
}

// **************** Content Container

.container-content {
  position: relative;
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: $bgImg;
  background-size: 2200px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all $timeAnime;
  //box-shadow: 0 0 50px black, 0 0 30px black;
  box-shadow: 0 0 20px black;
}

//--- Start Btn
#btn-start {
  position: absolute;
  z-index: 10;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: white;
  background-color: rgba(white, .5);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  //border: 5px solid #262626;
  //color: #262626;
  transition: .5s;
  animation: textColor 5s linear infinite;
  box-shadow: 0 0 30px black;

  & ~ span {
    width: 250px;
    height: 100px;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bgColor 5s linear infinite;
    border-radius: 50px;
    filter: blur(35px);
    z-index: 9;
    transition: .5s;
  }

  &:hover, &:focus,
  &:hover ~ span, &:focus ~ span
  {
    transform: translate(-50%, -50%) scale(1.1);
  }
  &:active,
  &:active ~ span
  {
    transform: translate(-50%, -50%) scale(1.05);
  }
}

//--- Content
.select-content {
  z-index: 2;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#fff, .9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  padding-top: 20px;
  letter-spacing: 2px;
  position: relative;

  h1 {
    text-align: center;
  }

  p {
    font-size: 2rem;
    padding: 25px 25px;
    text-align: center;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 12%;
    border-radius: 50%;
    width: 80%;
    height: 5px;
    background-color: #262626;
  }
}

//--- 4 Buttons
@mixin buttonsX4($bg-col, $border) {
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: bold;
  width: 260px;
  height: 40px;
  cursor: pointer;
  outline: none;
  background-color: $bg-col;
  border: $border;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all .5s;

  &:hover {
    letter-spacing: 3px;
    transition: all .5s;

    &:before {
      width: 40%;
      left: 0;
      transition: all .5s;
    }

    & ~ .border-btns:after, & ~ .border-btns:before {
      transition: all .5s;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    height: 100%;
    width: 0;
    /* More creative then 'skewX' :) */
    //background-color: rgba(black, .07);
    border-left: 0 solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 0 solid transparent;
    border-top: calc(50px - 4px) solid rgba(black, .07);
    transition: all .5s;
  }
}

//--- Border For Btns
@mixin borderX4($borderHover) {
  &:before {
    content: '';
    transition: all .5s;
    position: absolute;
    top: -4px;
    left: -4px;
    width: 0;
    height: 0;
    //width: calc(100% + 4px);
    //height: calc(100% + 4px);
    border-top: $borderHover;
    border-left: $borderHover;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
  }
  &:after {
    content: '';
    transition: all .5s;
    position: absolute;
    bottom: -4px;
    right: -4px;
    background-color: transparent;
    width: 0;
    height: 0;
    border-bottom: $borderHover;
    border-right: $borderHover;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
  }
}

button#submenu-me {
  @include buttonsX4(lighten(map_get($colors, c1), 20%), 2px solid map_get($colors, c1));

  & ~ .border-btns {
    @include borderX4(2px solid map_get($colors, c1))
  }
}
button#submenu-skills {
  @include buttonsX4(lighten(map_get($colors, c2), 20%), 2px solid map_get($colors, c2));

  & ~ .border-btns {
    @include borderX4(2px solid map_get($colors, c2))
  }
}
button#submenu-projects {
  @include buttonsX4(lighten(map_get($colors, c3), 20%), 2px solid map_get($colors, c3));

  & ~ .border-btns {
    @include borderX4(2px solid map_get($colors, c3))
  }
}
button#submenu-contact {
  @include buttonsX4(lighten(map_get($colors, c4), 20%), 2px solid map_get($colors, c4));

  & ~ .border-btns {
    @include borderX4(2px solid map_get($colors, c4))
  }
}

//--- NAV for 4 btns
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  & > ul > li {
    margin: 16px;
    list-style: none;
    position: relative;
    z-index: 3;

    &:first-child {
      margin-top: 5px;
    }
  }
}

// **************** Display Sections

.display-section1 {
  transform: rotateX(0deg) rotate(0deg) translate(0);
  width: 100%;
  height: 100%;
  z-index: 3;
}
.display-section2 {
  transform: rotateY(0deg) rotate(0deg) translate(0);
  width: 100%;
  height: 100%;
  z-index: 3;
}

//--- Return To Btns
@keyframes showBtnBack {
  from { transform: scale(0) translate(-50%) rotate(360deg) }
  70% { transform: scale(1.3) translate(-50%) rotate(-20deg) }
  75% { transform: scale(1.3) translate(-50%) rotate(-20deg) }
  to { transform: scale(1) translate(-50%) rotate(0) }
}

#btn-back {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: scale(0) translate(-50%);
  z-index: 5;
  background-color: transparent;
  outline: none;
  border: none;
  animation: showBtnBack .7s .7s ease-in forwards;

  .fa-reply {
    font-size: 5rem;
    cursor: pointer;
  }
}

.display-content {
  display: none;
  //border: 3px solid red;
  position: absolute;
  overflow: hidden;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 98%;
}

@keyframes showSelected {
  from { top: -1000px; }
  90% { top: 30px; }
  94% { top: -15px; }
  98% { top: 5px; }
  to { top: 0; }
}

.show-selected {
  animation: showSelected 1.25s .15s ease-in forwards;
}

#select-me, #select-skills, #select-projects, #select-contact {
  position: absolute;
  top: -1000px;
  //animation: showSelected 1.25s .15s ease-in forwards;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  header {
    margin: 40px;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 3rem;
  }

  p {
    margin: 25px 40px;
    text-align: center;
  }
}
